[submodule "paystub-ios"]
	path = paystub-ios
	url = https://github.com/Serveture/paystub-ios
[submodule "app-framework-ios"]
	path = app-framework-ios
	url = https://github.com/Serveture/app-framework-ios
